<div id="flash">
	<% if (error && error.length > 0) { %>
	<div class="alert alert-danger animated fadeIn">
		<div><%= error %></div>
	</div>
	<% } %> <% if (success && success.length > 0) { %>
	<div class="alert alert-danger animated fadeIn">
		<div><%= success %></div>
	</div>
	<% } %>
</div>
