<%- include('partials/header.ejs') %>

<main role="main">
    <br>
    <br>
    <h1 class="h1">
        Page not found!
    </h1>
    <br>
    <img 
        href="." 
        src="http://www.digitalmesh.com/blog/wp-content/uploads/2020/05/404-error.jpg"
        class="center">
</main>

<%- include('partials/footer.ejs') %>
