<%- include('partials/header.ejs') %>

<main role="main">
	<div class="container-lg my-5">
		<h1><%=currentUser.name%>, Welcome to the Community!</h1>

		<div class="row my-5">
			<div class="col-lg-4 col-md-4 col-sm-12 my-2 dashboard-feature">
				<i class="icon fas fa-utensils fa-4x"></i>
				<h3>Smart personalized meal plans</h3>
				<p>Nutritious recipes curated just for you.</p>
				<p><a class="btn btn-secondary" href="/meal" role="button">View details &raquo;</a></p>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12 my-2 dashboard-feature">
				<i class="icon fas fa-tint fa-4x"></i>
				<h3>Period tracking calendar</h3>
				<p>Listen to your body for abnormalities and possible diseases.</p>
				<p><a class="btn btn-secondary" href="/period-tracking" role="button">View details &raquo;</a></p>
			</div>

			<!-- <div class="col-lg-3 col-md-6 col-sm-12 my-2 dashboard-feature">
				<i class="icon fas fa-bell fa-4x"></i>
				<h3>Regular reminders</h3>
				<p>Receive realtime alerts for medical tests, breast self examination and period care.</p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div> -->

			<div class="col-lg-4 col-md-4 col-sm-12 my-2 dashboard-feature">
				<i class="icon fas fa-heartbeat fa-4x"></i>
				<h3>Burn calories and get fit.</h3>
				<p>Exercise recommendenations according to your age and lifestyle.</p>
				<p><a class="btn btn-secondary" href="/fitness" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.ejs') %>
