<%- include('partials/header.ejs') %>

<main role="main">
	<section class="landing">
		<div class="p-3 p-md-5 mb-md-3">
			<div class="row">
				<div class="col-md-8 p-lg-8 my-5">
					<h1 class="landing-title display-4 font-weight-bold">A smart healthcare solution for every woman.</h1>
					<p class="lead font-weight-normal my-0">Take another step towards better health with us.</p>
					<p class="lead font-weight-normal">Your body will thank you!</p>
					<a class="btn btn-outline-dark" href="/user/signup">Sign up today</a>
				</div>
				<div class="col-lg-4">
					<img class="hero-img" style="width: 100%; height: auto" src="images/top.png" alt="Header Image" />
				</div>
			</div>
		</div>
	</section>

	<section class="container marketing">
		<hr class="featurette-divider" />

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					Personalized meal plans.
					<span class="text-muted">Learn what food is the best for you. </span>
				</h2>
				<p class="lead">We will plan yummy, nutritious meals according to your age and level of activity.</p>
			</div>
			<div class="col-md-5">
				<img src="images/pic1.jpg" class="rounded" alt="Food" style="width: 300px; height: 300px" />
			</div>
		</div>

		<hr class="featurette-divider" />

		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<h2 class="featurette-heading">
					Period calendar. <span class="text-muted">Flow duration and type tracking for diseases.</span>
				</h2>
				<p class="lead">Track your menstrual cycle and get alerts for abnormalities.</p>
			</div>
			<div class="col-md-5 order-md-1">
				<img src="images/pic2.jpg" class="rounded" alt="Period Tracker" style="width: 300px; height: 300px" />
			</div>
		</div>

		<hr class="featurette-divider" />

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Burn calories. <span class="text-muted">Learn with the best fitness coaches.</span></h2>
				<p class="lead">Reach your fitness goals with personalized videos.</p>
			</div>
			<div class="col-md-5">
				<img src="images/pic4.jpg" class="rounded" alt="Reminders" style="width: 300px; height: 300px" />
			</div>
		</div>

		<hr class="featurette-divider" />

		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<h2 class="featurette-heading">Crucial Reminders. <span class="text-muted"> For today's busy professionals.</span></h2>
				<p class="lead">Receive realtime alerts for medical tests, breast self examination and period care.</p>
			</div>
			<div class="col-md-5">
				<img src="images/pic3.jpg" class="rounded" alt="Reminders" style="width: 300px; height: 300px" />
			</div>
		</div>

		<hr class="featurette-divider" />
	</section>

	<section class="container mb-2">
		<div class="container-md forum">
			<div class="jumbotron mt-3" style="background-color:#bbdfc8">
				<h1>Community Forum</h1>
				<p class="lead">Connect with other women and get your questions answered by experts</p>
				<a class="btn btn-lg btn-light" role="button">Join us today. &raquo;</a>
			</div>
		</div>
	</section>

</main>

<%- include('partials/footer.ejs') %>
