<%- include('partials/header.ejs') %>

<main role="main">
	<div class="container my-5">
		<h1>Period Tracker</h1>
		<p class="subtext text-center mb-5">Track your period by clicking on the calendar dates.</p>

		<div class="row">
			<div class="col-lg-4 offset-lg-2 col-sm-12">
				<div class="d-flex align-items-center flex-column">
					<div class="d-flex justify-content-center">
						<div class="mr-5">Normal flow <span class="low-flow"></span></div>
						<div>Heavy flow <span class="heavy-flow"></span></div>
					</div>
					<div id="my-calendar" class="custom-color"></div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="d-flex flex-column align-items-center justify-content-center">
					<div class="product-recommendation card period-tracker-card">
						<div class="card-body period-due">
							<h5 class="card-title">Stay one step ahead!</h5>
							<p class="card-text">
								Your next period is expected to be on <span id="period-due-date"></span>. Check out these products.
							</p>
							<a
								href="https://www.bing.com/shop?q=whisper&qs=n&form=SHOPSB&sp=-1&pq=whisp&sc=8-5&sk=&cvid=D359F10DC824461F81550880A076CD16"
								target="_blank"
								class="btn btn-primary"
							>
								Products
							</a>
						</div>
					</div>
					<div class="flow-warning card bg-warning period-tracker-card">
						<div class="card-body period-due">
							<h5 class="card-title">Warning</h5>
							<p class="card-text">
								<%=currentUser.name%>, you have recorded more than 5 days of heavy flow in the last 2 months. You may
								want to get tested for menorrhagia, fibroids and anemia!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<div class="modal" id="periodModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title">Add Period Flow</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3>Period Flow:</h3>
				<div class="d-flex justify-content-center">
					<button type="button" class="btn flow-btn mr-2" style="background-color: #ffb400; color: white" value="low">
						Normal
					</button>
					<button type="button" class="btn flow-btn" style="background-color: #f6511d; color: white" value="high">
						Heavy
					</button>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer.ejs') %>
