html,
body {
	height: 100%;
}

body {
	color: #222;
	padding-bottom: 16px;
}

.landing {
	background-color: #ef9091;
	color: #222;
}

.navbar {
	background-color: #ef9091;
}

.navbar .nav-item a.nav-link {
	color: white;
}

.navbar-brand {
    padding: 5px;
}

.navbar-brand img {
    max-height:28;
	width: auto;
}

main {
	padding-top: 56px;
}

h1 {
	text-align: center;
	color: #4e8d7c;
}

.center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.landing-title {
	text-align: left;
	color: #314e52;
	margin-bottom: 2rem;
}

/* Carousel base class */
.carousel {
	margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
	height: 32rem;
}
.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.marketing h2 {
	font-weight: 400;
}

.marketing .col-lg-4 p {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}

.featurette-divider {
	margin: 5rem 0;
}

.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.05rem;
}

.disease {
	display: inline-block;
	padding: 3rem;
	text-emphasis: 1;
	text-align: left;
	text-decoration-color: darkolivegreen;
}

.icon {
	color: #ef8172;
	margin-bottom: 1rem;
}

.dashboard-feature {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.card {
	margin-top: 0.7rem;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.iframe-container iframe{
    position: relative;
    width: 18rem;
    height: 14rem;
    margin-bottom: auto;
    padding: 1rem;
}
